{% trans user=user.get_full_name(), changer=changer.get_full_name(), account=account.name, ref=snapshot.ref, subject=snapshot.subject %}
Journal deleted on {{ account }}

Hello {{ user }}, {{ changer }} has deleted an journal:

#{{ ref }} {{ subject }}

---
{% endtrans %}
